<h2>レシピ検索システム</h2>
検索：
<input #keyword size="20" [value]="getCurrentValue()">
<button (click)="searchRecipe(keyword.value)">Search</button>
<table>
  <tr>
    <th>No</th>
    <th>名前</th>
    <th>所要時間</th>
    <th>ひとこと</th>
    <th>主な材料</th>
  </tr>
  <tr *ngFor="let recipe of recipedata; let no = index">
    <td id="number">{{no + 1}}</td>
    <td id="recipe_name"><a routerLink="/recipe-data/{{recipe.id}}">{{recipe.name}}</a></td>
    <td id="cook_minute">{{recipe.minute}}</td>
    <td>{{recipe.feature}}</td>
    <td>
      <span *ngFor="let item of recipe.ingre; let i = index">
        <ng-container *ngIf="i < 3">{{item.name}}&nbsp;</ng-container>
      </span>
    </td>
  </tr>
</table>